<button class="open-form" (click)="openForm()">Añadir Jugador</button>

<div *ngIf="isFormOpen" class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title border-3">Añadir Jugador</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeForm()"></button>
      </div>
      <form (ngSubmit)="addPlayer()">
        <div class="modal-body">
          <!-- Campos de entrada con ngModel -->
          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input id="name" name="name" [(ngModel)]="player.name" required class="form-control">
          </div>
          <div class="mb-3">
            <label for="ppg" class="form-label">Puntos por partido</label>
            <input id="ppg" name="ppg" [(ngModel)]="player.ppg" required type="number" class="form-control">
          </div>
          <div class="mb-3">
            <label for="rpg" class="form-label">Rebotes por partido</label>
            <input id="rpg" name="rpg" [(ngModel)]="player.rpg" required type="number" class="form-control">
          </div>
          <div class="mb-3">
            <label for="apg" class="form-label">Asistencias por partido</label>
            <input id="apg" name="apg" [(ngModel)]="player.apg" required type="number" class="form-control">
          </div>
          <div class="mb-3">
            <label for="height" class="form-label">Altura</label>
            <input id="height" name="height" [(ngModel)]="player.height" required class="form-control">
          </div>
          <div class="mb-3">
            <label for="weight" class="form-label">Peso</label>
            <input id="weight" name="weight" [(ngModel)]="player.weight" required class="form-control">
          </div>
          <div class="mb-3">
            <label for="age" class="form-label">Edad</label>
            <input id="age" name="age" [(ngModel)]="player.age" required type="number" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeForm()">Cancelar</button>
          <button type="submit" class="btn btn-primary">Añadir Jugador</button>
        </div>
      </form>
    </div>
  </div>
</div>
