<div class="modal">
  <div class="container">
    <button class="button" (click)="onButtonClick()">Cerrar</button>
  <h1>SUS MEJORES JUGADAS</h1>
  <div class="video-container">
    <video width="540" height="310"  controls>
      <iframe width="560" height="315" src="https://www.youtube.com/watch?v=8u7UbQsFkFY" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
    </video>
  </div>
  </div>
</div>
